<% if links.any? %>
  <ul class="list-unstyled mt-2">
    <% links.each do |link| %>
      <li class="d-inline">
        <div>
          <div>
            <div class="d-grid gap-2">
              <button class="btn btn-outline-success btn-lg" type="button" onClick="window.open('<%= link.content %>')"><%= link.content %></button>
            </div>
          </div>
          <div>
            <% if current_user == link.user %>
              <%= link_to "Delete", link, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
            <% end %>
          </div>
        </div>
      <br></li>
    <% end %>
  </ul>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>